

// Primary-bg-colors
 $main-red-color: #9F0013;
// Font-sizes
$common-font-size: 1.8rem;
$medium-font-size: 1.9rem;
$large-font-size: 2.5rem;
$mini-font-size: 1.4rem;

// Theme page sizes
$theme-large-size: 1.8rem;
$theme-medium-size: 1.6rem;
$theme-regular-size: 1.4rem;

//Font-stacks
// $font-settup-400 : font-setting("Inter", 400, 'Normal');
// $font-settup-500 : font-setting("Inter", 500, 'Normal');
// $font-settup-600 : font-setting("Inter", 600, 'Normal');
// $font-settup-700 : font-setting("Inter", 700, 'Normal');
// mixins 

@mixin flex-height ($height, $amount) {
    #{$height}: $amount;
}


@mixin font-face-rules ($font-family, $src, $format, $font-weight, $fotn-style) {
    font-family: $font-family, Arial, Helvetica, sans-serif;
    src: url($src) format($format);
    font-weight: $font-weight;
    font-style: $fotn-style;

}

@mixin font-face-rules-min($font-family, $src) {
    font-family: $font-family, Arial, Helvetica, sans-serif;
    src: url($src);
}

@mixin font-setting ($font-family, $font-weight, $fotn-style) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $fotn-style;
}



@mixin flex-adjusting ($flex-grow, $flex-basis) {
    flex-grow: $flex-grow;
    flex-basis: $flex-basis;
}